# Django and core dependencies
Django==5.1.7
asgiref==3.8.1
sqlparse==0.5.3
python-dotenv==1.0.1
environs==14.1.1

# Database
psycopg2-binary==2.9.9
dj-database-url==2.3.0

# Static and Media files
whitenoise==6.6.0
Pillow==11.2.1

# Task Queue
celery==5.4.0
redis==5.2.1
kombu==5.5.0
billiard==4.2.1
amqp==5.3.1

# Forms and Templates
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
django-widget-tweaks==1.5.0

# Admin and UI
django-import-export==4.3.7
django-ckeditor-5==0.2.17
django-jalali==7.3.0
django-jalali-date==1.1.3
jalali_core==1.0.0
jdatetime==5.2.0

# Search
django-haystack==3.3.0
elasticsearch==8.18.0
elasticsearch7==7.17.12
elastic-transport==8.17.1

# Production Server
gunicorn==21.2.0

# Utilities
python-slugify==8.0.4
marshmallow==3.26.1
kavenegar==1.1.2
requests==2.32.3
urllib3==1.26.20
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
packaging==24.2
setuptools==78.1.0
six==1.17.0
typing_extensions==4.12.2
tzdata==2025.1
wcwidth==0.2.13
prompt_toolkit==3.0.50
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
diff-match-patch==20241021
dj-email-url==1.0.6
django-cache-url==3.4.5
django-js-asset==3.1.2
django-nine==0.2.7
tablib==3.8.0
text-unidecode==1.3
supervisor==4.2.5
