@import url(../aghdasi-typo/typography.css);

/*
* RTL File By Farham Aghdasi
! RTL-THEMES | Orginal Version With Comments
* Ecomus HTML Template 1403-1405
*/

:root {
    --font-anjoman: 'anjoman';
    --font-anjoman-bold: 'anjoman-bold';
    --font-aviny: 'aviny';
    --font-behdad: 'behdad';
    --font-dima: 'dima';
    --font-dordane: 'dordane';
    --font-dastnevis: 'dastnevis';
    --font-dana: 'dana';
    --font-dana-bold: 'dana-bold';
    --font-dana-bold-latin: 'dana-bold-latin';
    --font-dana-light: 'dana-light';
    --font-dana-medium: 'dana-medium';
    --font-dana-regular: 'dana-regular';
    --font-dana-thin: 'dana-thin';
    --font-fanavari-bold: 'fanavari-bold';
    --font-fanavari-regular: 'fanavari-regular';
    --font-estedad-bold: 'estedad-bold';
    --font-estedad-light: 'estedad-light';
    --font-estedad-medium: 'estedad-medium';
    --font-hilda: 'hilda';
    --font-hekayat: 'hekayat';
    --font-hana: 'hana';
    --font-hala: 'hala';
    --font-hoor: 'hoor';
    --font-iran: 'iran';
    --font-iran-gerd: 'iran-gerd';
    --font-khandevane: 'khandevane';
    --font-kalameh: 'kalameh';
    --font-khaton: 'khaton';
    --font-lalezar: 'lalezar';
    --font-mahboubeh: 'mahboubeh';
    --font-nahid: 'nahid';
    --font-negaar: 'negaar';
    --font-negaar-bold: 'negaar-bold';
    --font-nic: 'nic';
    --font-pinar: 'pinar';
    --font-pinar-ds1: 'pinar ds1';
    --font-pinar-ds2: 'pinar ds2';
    --font-iranyekan: 'iranyekan';
    --font-iranyekanweb: 'iranyekanweb';
    --font-vazirmatn-thin: 'vazirmatn';
    --font-vazirmatn-extralight: 'vazirmatn';
    --font-vazirmatn-light: 'vazirmatn';
    --font-vazirmatn-regular: 'vazirmatn';
    --font-vazirmatn-medium: 'vazirmatn';
    --font-vazirmatn-semibold: 'vazirmatn';
    --font-vazirmatn-bold: 'vazirmatn';
    --font-vazirmatn-extrabold: 'vazirmatn';
    --font-vazirmatn-black: 'vazirmatn';
    --font-yekanbakh-light: 'yekanbakh';
    --font-estedad: 'estedad';
    --font-yekanbakh-regular: 'yekanbakh';
    --font-yekanbakh-semibold: 'yekanbakh';
    --font-yekanbakh-bold: 'yekanbakh';
    --font-yekanbakh-extrabold: 'yekanbakh';
    --font-iransans: 'iransans';
    --font-iransans-medium: 'iransans-medium';
  }

  body , .owl-item , .swiper-backface-hidden .swiper-slide {
    direction: rtl;
  }
  .input--hidden {
    display: none;
}
  html {
    overflow-x: hidden !important;
  }
  .icon-arrow1-top-right , [src="images/video/electric-bike.mp4"] , .nav-arr-default svg {
    transform: rotateY(180deg); /*Fix Icon*/
  }
  .box-nav-ul .menu-item-2::after {
    content: "\e905" !important;
  }
  .hover-sw-nav .nav-sw.nav-next-slider {
    margin-left: 20px !important;
    left: 13px !important;
  }
  .hover-sw-nav .nav-sw.nav-prev-slider {
    right: 13px !important;
    margin-right: 20px !important;
  }
  .wrap-announcement-bar-2 .navigation-topbar.nav-next-topbar , .flat-categories-bg .nav-sw.nav-next-slider {
    left: 0 !important;
    right: unset !important;
}
.toggle-rtl , #toggle-rtl {
  display: none !important;
}
.wrap-announcement-bar-2 .navigation-topbar.nav-prev-topbar , .flat-categories-bg .nav-sw.nav-prev-slider {
    right: 0 !important;
    left: unset !important;
}
.icv__arrow-wrapper:first-of-type svg {
  transform: scale(0.7) !important;
}
.icv__arrow-wrapper:nth-of-type(2) svg {
  transform: scale(0.7) scale(-1,1) !important;
}
.icv__control {
  left: none !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 10px !important;
  right: auto !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px !important;
    left: auto !important;
}
.owl-carousel  {
  direction: ltr;
}
  *:not(i) {
    font-family: 'iransans' !important;
  }
  * {
    letter-spacing: 0 !important;
  }
